    {{> header}}
<div class="flex flex-row">
    {{> dashboardUsuarios}}



  <div >
    <table >
      <thead>
        <tr>
          <th>Crypto</th>
          <th>Cantidad para Administrador</th>
          <th>Precio unitario en USD</th>
        </tr>
      </thead>
      <tbody id="data1">
      </tbody>
    </table>
  </div>

   <div >
    <table >
      <thead>
        <tr>
          <th>Nombre del Rig</th>
          <th>Shares</th>
          <th>Velocidad Promedio</th>
          <th>Velocidad Reportada</th>
          <th>ETH</th>
        </tr>
      </thead>
      <tbody id="Workers">
      </tbody>
    </table>
  </div>
    

    <script>
      let url = 'https://api.simpleminer.app/?type=wallet&phone=528712001994&token=eb81c251cc3deaf925465008da4d198a';
        fetch(url)
            .then( response => response.json() )
            .then( data => mostrarData(data) )
            .catch( error => console.log(error) )

        const mostrarData = (data) => {
            console.log(data)
            let body1 = ""
                 
               body1+=`<tr><td>"ETH"</td><td>${data.data.eth}</td><td>${data.data.rates.eth}</td></tr>`
            
            let bodyWor = ""
                 
               bodyWor+=`<tr><td>"Serge"</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Serge.shares}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Serge.avgSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Serge.reportedSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Serge.eth}</td></tr>
                       <tr><td>"Carlos_Serrano_1"</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano_1.shares}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano_1.avgSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano_1.reportedSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano_1.eth}</td></tr>
                       <tr><td>"Carlos_Serrano"</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano.shares}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano.avgSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano.reportedSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Serrano.eth}</td></tr>
                       <tr><td>"Jorge"</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Jorge.shares}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Jorge.avgSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Jorge.reportedSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Jorge.eth}</td></tr>
                       <tr><td>"Carlos_Adame"</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Adame.shares}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Adame.avgSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Adame.reportedSpeed}</td>
                           <td>${data.data.transactions.transactions[0].data.workers.Carlos_Adame.eth}</td></tr>`
            
            document.getElementById('data1').innerHTML = body1
            document.getElementById('Workers').innerHTML = bodyWor
        }
    </script>

</div>