    {{> header}}
<div class="flex flex-row">
    {{> dashboardUsuarios}}

<div class="grid grid-rows-3 gap-4">

  <div>
    <table>
      <thead>
        <tr>
          <th>Crypto</th>
          <th>Cantidad para Administrador</th>
          <th>Precio unitario en USD</th>
        </tr>
      </thead>
      <tbody id="data1">
      </tbody>
    </table>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>ID Transaccion</th>
          <th>Fecha</th>
          <th>ETH</th>
        </tr>
      </thead>
      <tbody id="tranD">
      </tbody>
    </table>
  </div>

    <script>
      let url = 'https://api.simpleminer.app/?type=wallet&phone=528712001994&token=eb81c251cc3deaf925465008da4d198a';
        fetch(url)
            .then( response => response.json() )
            .then( data => mostrarData(data) )
            .catch( error => console.log(error) )

        const mostrarData = (data) => {
            console.log(data)
            let body1 = ""
            let bodyTranD = ""
                 
               body1+=`<tr><td>"ETH"</td>
                           <td>${data.data.eth}</td>
                           <td>${data.data.rates.eth}</td></tr>`
                           
               bodyTranD+=`<tr><td>${data.data.transactions.transactions[0].id}</td>
                               <td>${data.data.transactions.transactions[0].date}</td>
                               <td>${data.data.transactions.transactions[0].eth}</td></tr>`
            
            document.getElementById('data1').innerHTML = body1
            document.getElementById('tranD').innerHTML = bodyTranD
        }
    </script>
</div>
</div>